.posts {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  &__error {
    color: $white-darker;
    text-align: center;
  }

  &__empty {
    color: $white-dark;
    font-style: italic;
  }

  &__content {
    display: grid;
    gap: 2rem;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: calc(100% - 2rem);
    margin-bottom: 2rem;

    &-item {
      display: flex;
    }
  }

  &--loaded {
    height: auto;
    margin-bottom: 2rem;
  }
}
