$background-color: #fafafa;
$background2-color: #081844;
$background3-color: #F7F8FA;
$box-shadow-color-10: rgb(0 0 0 / 10%);
$box-shadow-color-25: rgb(0 0 0 / 25%);
$box-shadow-color-30: rgb(0 0 0 / 30%);
$dark-blue-light-active: #B0B7C3;
$sky-blue-light: #E6F7FD;
$sky-blue-light-hover: #D9F3FC;
$sky-blue-light-active: #B1E6FA;
$sky-blue-normal: #04ADEE;
$sky-blue-normal-hover: #049CD6;
$green-normal: #C7EF00;
$green-normal-hover: #B3D700;
$violet-normal: #9368B7;
$violet-normal-hover: #845EA5;
$orange-light-hover: #FFEED9;
$orange-light-active: #FFDDB0;
$orange-normal: #FF9000;
$orange-normal-hover: #E68200;
$white-normal: #FFF;
$white-normal-hover: #E6E6E6;
$white-normal-active: #CCC;
$white-dark: #BFBFBF;
$white-dark-hover: #999;
$white-dark-active: #737373;
$white-darker: #595959;
$red-normal: #D62246;
$red-dark: #A11A35;
