.custom-button {
  background-color: $white-darker !important;

  &:disabled {
    color: $white-normal !important;
    cursor: not-allowed !important;
    opacity: 0.6;
    pointer-events: visible !important;
  }
}
